<h2><%= t('devise.resend_confirm_email_title') %></h2>

<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: {method: :post, class: 'form-horizontal'}) do |f| %>
    <div class="alert-danger">
        <%= devise_error_messages! %>
    </div>

    <div class="control-group">
        <%= f.label( :email, for: :user_email, class: 'control-label' ) %>
        <div class="controls">
            <%= f.email_field :email, autofocus: true %>
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
            <%= f.submit( t('devise.resend_confirm_email_submit') ) %>
        </div>
    </div>
<% end %>

<%= render "users/shared/links" %>
