An error was caught while running <%= AGEX_APP_NAME %>.
Internal framework vers.: <%= AGEX_FRAMEWORK_VERSION %>

Server: <%= @host %>
Admin: <%= @admin_name %>
User:  <%= @user_name %>

<%= @description %>

Trace:

----8<----
<% @backtrace.each do |trace_row| %>
<%= trace_row %>
<% end %>
----8<----

Please check the log files.
