<h2><%= t('devise.new_session_title') %></h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'form-horizontal'}) do |f| %>
    <div class="control-group">
        <%= f.label( I18n.t(:email), for: :user_email, class: 'control-label' ) %>
        <div class="controls">
            <%= f.email_field :email, autofocus: true %>
        </div>
    </div>

    <div class="control-group">
        <%= f.label( :password, for: :user_password, class: 'control-label' ) %>
        <div class="controls">
            <%= f.password_field :password %>
        </div>
    </div>
    <div class="control-group">
        <% if devise_mapping.rememberable? -%>
            <%= f.label( I18n.t(:remember_me), for: :user_remember_me, class: 'control-label' ) %>
            <div class="controls">
                <%= f.check_box :remember_me %>
            </div>
        <% end -%>
    </div>

    <div class="control-group">
        <div class="controls">
            <%= f.submit( I18n.t('devise.new_session_submit') ) %>
        </div>
    </div>
<% end %>

<%= render("users/shared/links") %>
