.row
  - if articles.nil? || (articles && articles.length == 0)
    %p{style: "text-align: center"}
      %i= t(:no_data_found)
  - else
    %ul
      - articles.each do |a|
        = render( partial: 'article_detail', locals: {article: a} )
.row
  %p
    %hr
