.row
- article.user ||= current_user

= simple_form_for article do |f|
  .row.col-xs-11
    = f.input_field :user_id, as: :hidden
  .row.col-xs-11
    = f.association :user, disabled: (article.user_id.to_i > 0), label: I18n.t('activerecord.models.user'), collection: User.all, prompt: I18n.t('please_select')
  .row.col-xs-11
    = f.input :title, input_html: { class: 'col-xs-8' } 
  .row.col-xs-11
    = f.input :content, input_html: { rows: 3, class: 'col-xs-12' }
  .row.col-xs-11
    %p
  .row.col-xs-11
    = f.button :submit, I18n.t('save'), {class: 'btn btn-default'}
