.row
  .row
    .col-xs-10
      = link_to( content_tag(:h4, article.title, class: 'text-info'), article_path(article) )
    .col-xs-1
      = link_to_if( current_user.id == article.user_id, I18n.t('edit'), edit_article_path(article), {class: "btn btn-default btn-xs"} )
    .col-xs-1
      = link_to_if( current_user.id == article.user_id, I18n.t('delete'), article_path(article), data: {confirm: I18n.t(:are_you_sure), disable_with: I18n.t(:please_wait)}, method: :delete, class: "btn btn-default btn-xs" )
  .row
    %blockquote
      %p= article.content
      %small= "#{article.user_name}, #{I18n.l(article.updated_at, format: :full)}"
