<%- if controller_name != 'sessions' %>
  <%= link_to( t('devise.link_log_in'), new_user_session_path(resource_name) ) %><br />
<% end -%>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <%= link_to( t('devise.link_register'), new_registration_path(resource_name) ) %><br />
<% end -%>

<%- if devise_mapping.recoverable? && controller_name != 'passwords' %>
  <%= link_to( t('devise.link_forgot_password'), new_password_path(resource_name) ) %><br />
<% end -%>

<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
  <%= link_to( t('devise.link_resend_confirm_email'), new_confirmation_path(resource_name) ) %><br />
<% end -%>

<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
  <%= link_to( t('devise.link_resend_unlock_email'), new_unlock_path(resource_name) ) %><br />
<% end -%>

<%- if devise_mapping.omniauthable? %>
  <%- resource_class.omniauth_providers.each do |provider| %>
    <%= link_to( "#{t('devise.link_log_in_with')} #{provider.to_s.titleize}", omniauth_authorize_path(resource_name, provider) ) %><br />
  <% end -%>
<% end -%>