<%%= simple_form_for(@<%= singular_table_name %>) do |f| %>
  <div class="alert-danger">
    <%%= f.error_notification %>
  </div>

  <div class="form-inputs">
  <%- attributes.each do |attribute| -%>
    <%%= f.<%= attribute.reference? ? :association : :input %> :<%= attribute.name %> %>
  <%- end -%>
  </div>

  <div class="form-actions">
    <%%= f.button :submit %>
  </div>
<%% end %>
