.navbar.navbar-default.navbar-fixed-top(role='navigation')
  .container
    .navbar-header
      %button.navbar-toggle(data-toggle="collapse" data-target=".navbar-collapse")
        %span.sr-only
          Toggle
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
    %a.navbar-brand(href="/")
      = AGEX_APP_NAME
      = image_tag( AGEX_APP_LOGO )
    .navbar-collapse.collapse
      = render_navigation( level: 1..2, expand_all: true, renderer: :bootstrap )
      .container
        %ul.nav.navbar-nav.navbar-right
          %li= render_navigation( renderer: :breadcrumbs, join_with: " &gt; " )
