.modal.fade.bs-example-modal-sm{'id'=>"modalMsg#{text_class}", 'tabindex'=>'-1', 'role'=>'dialog', 'aria-labelledby'=>'mySmallModalLabel', 'aria-hidden'=>'true'}
  .modal-dialog.modal-sm
    .modal-content
      .modal-header
        %button.close{'data-dismiss'=>'modal', 'aria-hidden'=>'true'}
          &times;
        %h4.modal-title#mySmallModalLabel
          %span{'class'=>"text-#{text_class}"}
            = title
        .modal-body
          %p{'class'=>"text-#{text_class}"}
            = message
%script
  $("#modalMsg#{text_class}").modal();
