<h2><%= t('devise.edit_password_title') %></h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, class: 'form-horizontal' }) do |f| %>
    <div class="alert-danger">
        <%= devise_error_messages! %>
    </div>
    <%= f.hidden_field :reset_password_token %>

    <div class="control-group">
        <%= f.label( :password, t('devise.edit_password_new_password'), for: :user_password, class: 'control-label' ) %>
        <div class="controls">
            <%= f.password_field :password, autofocus: true %>
        </div>
    </div>

    <div class="control-group">
        <%= f.label( :password_confirmation, t('devise.edit_password_confirm'), for: :user_password_confirmation, class: 'control-label' ) %>
        <div class="controls">
            <%= f.password_field :password_confirmation %>
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
            <%= f.submit( t('devise.edit_password_submit') ) %>
        </div>
    </div>
<% end %>

<%= render "users/shared/links" %>
