<!DOCTYPE html>
<html>
<head>
  <title><%= AGEX_APP_NAME %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <!-- Main menu section: -->
    <%= render( partial: "#{AGEX_APP}/main_menu" ) %>

    <%= render( 
            partial: "#{AGEX_APP}/small_modal_message",
            locals: {title: "Ok!", message: (notice || flash[:info]), text_class: 'primary'}
        ) if notice || flash[:info]
    %>
    <%= render(
            partial: "#{AGEX_APP}/small_modal_message",
            locals: {title: "Mmmh...", message: alert, text_class: 'warning'}
        ) if alert
    %>
    <%= render(
            partial: "#{AGEX_APP}/small_modal_message",
            locals: {title: "Oh, no!", message: flash[:error], text_class: 'danger'}
        ) if flash[:error]
    %>
    <div class="container offset-container">
    </div> <!-- /offset container for fixed top menu -->

    <div class="container main-container">
        <%= yield %>
    </div> <!-- /container -->

    <div class="container offset-container">
    </div> <!-- /offset container for fixed bottom spaceing -->

</body>
</html>
