<h2>--=[  <%= AGEX_APP_NAME %>  O=#  ]=--</h2>

<p><%= t('devise.resend_confirm_email_title') %></p>

<p><%= t('devise.confirm_email_greetings').gsub('<EMAIL>', @email).gsub('<APP_NAME>', AGEX_APP_NAME) %></p>

<p><%= t('devise.confirm_email_text') %></p>

<p><%= link_to( t('devise.confirm_email_submit'), confirmation_url(@resource, confirmation_token: @token) ) %></p>
