<h2>--=[  <%= AGEX_APP_NAME %>  O=#  ]=--</h2>

<p><%= t('devise.unlock_password_greetings').gsub('<EMAIL>', @resource.email) %></p>

<p><%= t('devise.unlock_password_info') %></p>

<p><%= t('devise.unlock_password_text') %></p>

<p><%= link_to( t('devise.unlock_password_submit'), unlock_url(@resource, unlock_token: @resource.unlock_token) ) %></p>
