<h2><%= t('devise.new_user_title') %></h2>
<%= render( partial: 'home/privacy_disclaimer' ) %>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: 'form-horizontal'}) do |f| %>
    <div class="alert-danger">
        <%= devise_error_messages! %>
    </div>

    <div class="control-group">
        <%= f.label( :email, for: :user_email, class: 'control-label' ) %>
        <div class="controls">
            <%= f.email_field :email, autofocus: true %>
        </div>
    </div>

    <div class="control-group">
        <%= f.label( :password, for: :user_password, class: 'control-label' ) %>
        <div class="controls">
            <%= f.password_field :password, autocomplete: "off" %>
        </div>
    </div>

    <div class="control-group">
        <%= f.label( :password_confirmation, for: :user_password_confirmation, class: 'control-label' ) %>
        <div class="controls">
            <%= f.password_field :password_confirmation %>
        </div>
    </div>

    <div class="control-group">
        <%= f.label( :name, for: :user_name, class: 'control-label' ) %>
        <div class="controls">
            <%= f.text_field :name %>
        </div>
    </div>

    <div class="control-group">
        <%= f.label( :description, for: :user_description, class: 'control-label' ) %>
        <div class="controls">
            <%= f.text_field :description %>
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
            <%= f.submit( t('devise.new_user_submit') ) %>
        </div>
    </div>
<% end %>

<%= render "users/shared/links" %>
